div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: #81b29a;
}

#static #middle {
    position: static;
    top: 100px;
}

/* 현재 있는 위치에서 얼마만큼 변화를 줄 것인지 */
#relative #middle {
    position: relative;
    top: 50px;
    left: 30px;
}

#absolute {
    position: relative;
}

/* 문서의 일반적인 흐름에서 요소가 제거되고 공간도 배정되지 않음 */
/* 문서상에 배정된 자리에 보이기는 하나, 그 뒤 공간을 차지하지 않기에 다른 요소가 그대로 같은 자리에 배정됨 */
/* 픽셀을 지정하면 조상이나 자신이 포함된 위의 요소의 값을 기반으로 화면에 표시된다. */
/* 부모 요소의 position에 따라서 위치가 정해진다. (조금 어려움) */
#absolute #middle {
    position: absolute;
    top: 50px;
    left: 300px;
}

/* 위치를 지정해 주지 않으면 공간을 차지하지 않으면서 원래 화면에 표시되어야 하는 곳에 고정됨. 이는 스크롤을 해도 계속 같은 화면 위치에 고정 */
/* 위치를 지정해 주면 body 등 문서 전체를 기준으로 위치가 정해짐, 마찬가지로 스크롤 해도 위치가 아예 변하지 않음 */
#fixed #middle {
    position: fixed;
    top: 0px;
    left: 0px;
}

/* 마지막으로 position: sticky; 라는 요소가 있는데, 이는 스크롤 할 때 같이 이동하다가 화면의 제일 위쪽에 도달하면 fix처럼 게속 화면에 고정되는 요소 */

/* ---------------------- */
/* div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}


#middle {
    background-color: #81b29a;
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 1px;
    left: 1px;
}

#fixed #middle {
    position: fixed;
    top: 0;
    left: 400px;
} */